h1, h2, h3, h4, h5, h6{
}
#teampage img{
    width:100%;
}
.cols{
	margin: 0 !important;
	background-color:#000;
	color:white;
}
.cols h1{
	writing-mode: vertical-lr; 
    transform: rotate(180deg);
	font-size:9vw;
	color:#808080;
}
.span{
	height:25px;
	width:25px;
	background-color:transparent;
	border:1px solid #000;
	border-radius:50%;
	float:right;
	margin:20px 20px 0px 0px;
}
.cols-1 h1{
	margin-top:100px;
	letter-spacing:5px;

}
.links{
	padding:5px;
	color:#000;
}
.links:focus{
	text-decoration:none;
	color:#000;
}
.links:hover{
	text-decoration:none;
	color:#000;
}
.cols-2{
	margin-top:70px;
}
.fa{
	font-size:27px !important;
	margin-top:-20px;
}
.fa-1{
	color:red;
}


/* About */
.about-section-1{
	background-color:#DBDBDB;
        padding: 5% 0
}
.about-circle{
	height:25px;
	width:25px;
	background-color:transparent;
	border:1px solid #000;
	border-radius:50%;
	float:right;
	margin:20px 0px 0px 0px;
}
.about-big-circle{
	height:170px;
	width:170px;
	background-color:transparent;
	border:3px solid #000;
	border-radius:50%;
	margin-top:7%;
}
.about-row-1{
        margin-top: 15%;
        margin-bottom: 18%;
}
.about-section-2 .about-row-1{
	margin-top:0%;
	margin-bottom:0%;
}
.about-text-1{
	font-size:38px;
	line-height:60px;
	margin-top:10%;
	letter-spacing:3px;
}
.about-big-circle-red{
	height:170px;
	width:170px;
	background-color:transparent;
	border:4px solid #FF0067;
	border-radius:50%;
	margin-top:7%;
	margin-bottom:10%;
	position:relative;
	margin-top:-21%;
	margin-left:9%;
}
.about-section-2{
	background-color:#000;
        padding-top: 6%;
}
.about-section-2 h6{
	color:#fff;
	margin-top:50px;
	margin-bottom:15px;
}
.about-section-2 h4{
	color:#fff;
}
.about-row-2{
	margin-top:5%;
}
.about-cols-1 h3{
	margin-top:0px !important;
        text-transform: uppercase;
}
.about-bar{
	font-size:140px;
	margin-top:-20px;
	color:#000;
}
.about-head-text{
	margin-top:50px;
}
.about-number{
	font-size:140px;
	margin-top:-20px;
	color:#000;
}
.about-row-3{
	margin-top:3%;
	margin-bottom:10%; 
}
.about-section-3{
	background-color:#000;
        padding: 6% 0;
}
.about-section-3 h6{
	margin-top:5%;
	margin-bottom:5%;
	color:#fff;
}
.about-row-4.first{
	margin-top:70px;
}
/*.about-row-5{
	margin-top:50px;
	margin-bottom:10%;
}*/
.about-logo{
	margin:auto;
	display:block;
}


/*Featured Projects */
.pro-cols-1{
	padding-left:7.5px !important;
	padding-right:7.5px !important;
}
.pro-cols-1 img{
	height:583px;
}
.pro-cols-2{
	padding-left:7.5px !important;
	padding-right:7.5px !important;
}
.pro-cols-2 img{
	height:583px;
}
.pro-cols-3{
	padding-left:7.5px !important;
	padding-right:0px !important;
	margin-bottom:10%;
}
.pro-cols-3 img{
	height:583px;
}
.pro-cols-4 img{
	margin-top:150%;
}
.pro-cols-4{
	padding:0px !important;
}
.pro-cols-4 img, h2, h6, a{
	margin-left:0px;
}
.pro-cols-5{
	padding-left:30px !important;
}

/*End */


/*Team Start */
.team-row-1{
	margin-top:10%;
	margin-bottom:10%;
}
.team-row-1 h1{
    letter-spacing: 5px;
    word-spacing: 5px;
    color: #000;
    font-size: 50px;
    font-weight: 900;
    font-family: 'MarkPro';

}
.team-cols-1{
	padding:0px !important;
}
.team-cols-2{
	padding:0px !important;
	position: relative;
}	
.team-img{
  display: block;
  width: 100%;
  height: auto;
}
.team-overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #000000ad;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.team-cols-2:hover .team-overlay{
	bottom: 0;
    height: 100%;
}
.team-text-1{
  color: #fff;
  position: absolute;
  top: 85%;
  left: 37%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  font-size:17px;
  bottom: -55px;
  font-family: "Montserrat", sans-serif;
}
.team-last-row{
	margin-bottom:10%;
}


.menu-circle{
	height:50px;
	width:50px;
	background-color:transparent;
	border:1px solid #fff;
	border-radius:50%;
	float:right;
	margin:20px 0px 0px 30px;
	transition: 1s;
}
.menu-circle:hover{
	background-color:#fff;
	transition:.5s;
	text-decoration:none;
}
.menu-circle:active{
	background-color:#fff;
	text-decoration:none;
}
.menu-circle:focus{
	outline:none !important;
	text-decoration:none;
}
.menu-circle-active{
	background-color:#fff;
	text-decoration:none;
}
.contact-circle{
	height:50px;
	width:50px;
	background-color:transparent;
	border:2px solid #3BEAD0;
	border-radius:50%;
	float:right;
	margin:20px 0px 0px 20px;
	transition: 1s;
}
.contact-circle:hover{
	background-color:#3BEAD0;
	transition: 1s;
	text-decoration:none;
}
.contact-circle:active{
	background-color:#3BEAD0;
	text-decoration:none;
}
.contact-circle:focus{
	outline:none !important;
	text-decoration:none;
}
.contact-circle-active{
	background-color:#3BEAD0;
	text-decoration:none;
}
.contact-text{
    color: #fff;
    display: none;
    transition: 1s;
    
    text-align: center;
    margin-top: 33px;
    font-size: 14pt;
    margin-left: -9px;
	
}
.about-circle{
	height:50px;
	width:50px;
	background-color:transparent;
	border:2px solid #F00B57;
	border-radius:50%;
	float:right;
	margin:20px 0px 0px 20px;
	transition: 1s;
}
.about-circle:hover{
	background-color:#F00B57;
    transition: 1s;
    text-decoration:none;
}
.about-circle:active{
	background-color:#F00B57;
	text-decoration:none;
}
.about-circle:focus{
	outline:none !important;
	text-decoration:none;
}
.about-circle-active{
	background-color:#F00B57;
	text-decoration:none;
}
.about-text {
    color: #fff;
    transition: 1s;
    
    text-align: center;
    margin-top: 33px;
    font-size: 14pt;
}
.work-circle{
	height:50px;
	width:50px;
	background-color:transparent;
	border:2px solid #FBAE17;
	border-radius:50%;
	float:right;
	margin:20px 0px 0px 20px;
	transition: 1s;
}
.work-circle:hover{
	background-color:#FBAE17;
	text-decoration:none;
	transition: 1s;
}
.work-circle:active{
	background-color:#FBAE17;
	text-decoration:none;	
}
.work-circle:focus{
	outline:none !important;
	text-decoration:none;
}
.work-circle-active{
	background-color:#FBAE17;
	text-decoration:none;	
}
.work-text{
    color: #fff;
    display: none;
    transition: 1s;
    
    text-align: center;
    margin-top: 33px;
    font-size: 14pt;
}
.team-circle{
	height:50px;
	width:50px;
	background-color:transparent;
	border:2px solid #151BBD;
	border-radius:50%;
	float:right;
	margin:20px 0 0 20px;
	transition: 1s;
}
.team-circle:hover{
	background-color:#151BBD;
	transition: 1s;
	text-decoration:none;
}
.team-circle:active{
	background-color:#151BBD;
	text-decoration:none;
}
.team-circle:focus{
	outline:none !important;
	text-decoration:none;
}
.team-circle-active{
	background-color:#151BBD;
	text-decoration:none;
}
.team-text{
    color: #fff;
    display: none;
    transition: 1s;
    
    text-align: center;
    margin-top: 33px;
    font-size: 14pt;
}
.center-container {
    position: absolute;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    background: none;
}
.center-block {
    display: table-cell !important;
    vertical-align: middle;
}



.main-navigation-logo {
	float: left;
}
.main-navigation-logo .main-navigation-logo-img {
	display: table-cell;
	vertical-align: middle;
	max-width: 200px;
	height: 75px;
	-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
#grid-logo, .logo-footer img {
    width: 74px;
}
.reduce-height #grid-logo .cls-1, .reduce-height #grid-logo .cls-2 {
    fill: #fff;
}
.reduce-height #menu-btnx .st0 {
    stroke: #fff;
}
@media (max-width: 991px){
    .main-navigation-logo .main-navigation-logo-img {
        height: 60px;
    }
}
@media (min-width: 991px){
    .redes{
        position: absolute;
        bottom: 5%;
        right: 5%;
        text-align: right;
        font-size: 17px;
    }
    .heightcontact {
        height: 100%;
    }
}
.main-navigation-logo .main-navigation-logo-img img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
        width: 74px;
}
.mobile .reduce-height .main-navigation-logo .main-navigation-logo-img img {
        margin-top: 12px; /*JLMA*/
}
.desktop #menu-btnx { 
    margin-top: 20px;
}
.main-navigation-logo .main-navigation-logo-img:before, .main-navigation-logo .main-navigation-logo-img:after {
	display: none;
}
.main-navigation-logo-img, a.main-navigation-logo-img:hover {
	cursor: pointer;
}
.main-navigation {
	position: relative;
	top: 0;
	left: 0;
	text-align: left;
	width: 100%;
	/*height: 75px!important; JLMA*/
	-webkit-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-moz-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-ms-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-o-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	background-color: rgba(17,  17,  17,  .5);
	z-index: 9;
}

.main-navigation .main-inner-navigation ul > li > a {
	color: #fff;
}
.main-navigation .main-inner-navigation ul > li > a:hover {
	color: rgba(255,  255,  255,  1);
}
.main-navigation .main-inner-navigation ul > li > a.active {
	color: rgba(255,  255,  255,  .55);
}
.reduce-height {
	/*height: 110px!important; JLMA*/
	/*padding: 0 18px; JLMA*/
}
.reduce-height .main-inner-navigation ul li a {
	height: 55px!important;
	line-height: 55px!important;
}
.main-inner-navigation {
	position: relative;
	display: inline-block;
	float: right;
}
.main-inner-navigation ul {
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: right;
	margin: auto;
	text-shadow: 1px 1px 2px #111;
}
.main-inner-navigation ul li {
	float: left;
	margin-left: 25px;
	position: relative;
}
.main-inner-navigation ul li a {
	display: inline-block;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.main-inner-navigation ul > li:first-child > a {
}
.main-inner-navigation ul li a:hover, .main-inner-navigation ul li a.active {
	color: #fff;
	text-decoration: none;
}
.main-navigation.transparent {
	background: transparent!important;
	/*padding: 0 25px; JLMA*/
}
.main-inner-navigation .menu-link {
	font-size: 12px;
	text-shadow: none;
}
.main-navigation.js-transparent {
	-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.main-navigation-logo {
    float: left;
    margin-left: 2vw;
}
.main-inner-navigation {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 25px;
}
@media (max-width: 991px){
    .main-navigation-logo .main-navigation-logo-img {
        height: 60px;
    }
}
.main-navigation-logo .main-navigation-logo-img img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
        width: 74px;
}
.mobile .reduce-height .main-navigation-logo .main-navigation-logo-img img {
        margin-top: 12px; /*JLMA*/
}
.desktop #menu-btnx { 
    margin-top: 20px;
    cursor: pointer;
}
.mobile #menu-btnx { 
    margin-top: 18px;
    cursor: pointer;
}


/** Menu **/
.menu-circle{
    height:25px;
    width:25px;
    background-color:transparent;
    border:1px solid #fff;
    border-radius:50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    float:right;
    margin:20px 0px 0px 30px;
    transition: 1s;
    cursor: pointer;
}
@media (min-width:992px) {
    .menu-circle:hover{
        background-color:#fff;
        transition:.5s;
        text-decoration:none;
    }
    .menu-circle:active{
        background-color:#fff;
        text-decoration:none;
    }
}
/** MENU MOBILE **/
.mmmenu{
    position: fixed;
    width: 100%;
    background-color: #121212;
}
.mmmenu {
    position: fixed;
    /*display: none;*/
/*    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);*/
    height: 0px;
    width: 100%;
/*    top: 85px;*/
    /*left: 50%;*/
    /*bottom: 55px;*/
/*    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);*/
/*    -webkit-transition: opacity 300ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: opacity 300ms cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: opacity 300ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: opacity 300ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: opacity 300ms cubic-bezier(0.77, 0, 0.175, 1);*/
    z-index: 2;
}
.center-container {
    position: absolute;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: calc(100% - 25px);
    background: none;
}
.home .mmmenu{
    top: 0;
}
.home .center-container{
    position: fixed;
    height: 100%;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.center-block {
    display: table-cell !important;
    vertical-align: bottom;
}
.menu {
    margin: 8% auto;
    transform: translateX(5%);
}
.menu-item {
    opacity: 0;
    font-size: 29px;
    text-transform: uppercase;
     outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/** END MOBILE **/

.menu-circle:focus{
    outline:none !important;
    text-decoration:none;
}
.menu-circle-active{
    background-color:#fff;
    text-decoration:none;
}
.contact-circle{
    height:25px;
    width:25px;
    background-color:transparent;
    border:1px solid #3BEAD0;
    border-radius:50%;
    margin:20px 0px 0px 0;
}
.contact-circle:hover{
    background-color:#3BEAD0;
    transition: 1s;
    text-decoration:none;
}
.contact-circle:active{
    background-color:#3BEAD0;
    text-decoration:none;
}
.contact-circle:focus{
    outline:none !important;
    text-decoration:none;
}
.contact-circle-active{
    background-color:#3BEAD0;
    text-decoration:none;
}
.contact-text{
    color: #fff;
    display: none;
    transition: 1s;
    font-family: 'BergenText-Regular', sans-serif;
    text-align: center;
    margin-top: 33px;
    font-size: 14pt;
    margin-left: -9px;

}

.about-circle{
    height:25px;
    width:25px;
    background-color:transparent;
    border:1px solid #F00B57;
    border-radius:50%;
    float:right;
    margin:20px 0px 0px 0;
}
.about-circle:hover{
    background-color:#F00B57;
    transition: 1s;
    text-decoration:none;
}
.about-circle:active{
    background-color:#F00B57;
    text-decoration:none;
}
.about-circle:focus{
    outline:none !important;
    text-decoration:none;
}
.about-circle-active{
    background-color:#F00B57;
    text-decoration:none;
}
.about-text {
    color: #fff;
    display: none;
    transition: 1s;
    font-family: 'BergenText-Regular', sans-serif;
    text-align: center;
    margin-top: 33px;
    font-size: 14pt;
}
.work-circle{
    height:25px;
    width:25px;
    background-color:transparent;
    border:1px solid #FBAE17;
    border-radius:50%;
    float:right;
    margin:20px 0px 0px 0;
}
.work-circle:hover{
    background-color:#FBAE17;
    text-decoration:none;
    transition: 1s;
}
.work-circle:active{
    background-color:#FBAE17;
    text-decoration:none;	
}
.work-circle:focus{
    outline:none !important;
    text-decoration:none;
}
.work-circle-active{
    background-color:#FBAE17;
    text-decoration:none;	
}
.work-text{
    color: #fff;
    display: none;
    transition: 1s;
    font-family: 'BergenText-Regular', sans-serif;
    text-align: center;
    margin-top: 33px;
    font-size: 14pt;
}
.team-circle{
    height:25px;
    width:25px;
    background-color:transparent;
    border:1px solid #151BBD;
    border-radius:50%;
    float:right;
    margin:20px 0 0 0
}
.team-circle:hover{
    background-color:#151BBD;
    transition: 1s;
    text-decoration:none;
}
.team-circle:active{
    background-color:#151BBD;
    text-decoration:none;
}
.team-circle:focus{
    outline:none !important;
    text-decoration:none;
}
.team-circle-active{
    background-color:#151BBD;
    text-decoration:none;
}
.reduce-height .all-menu span {
    color: #fff;
}
.all-menu span{
    color: #000;
    visibility: hidden;
    opacity: 0;
    display: block;
    transition: 1s;
    font-family: 'BergenText-Regular', sans-serif;
    text-align: center;
    margin-top: 30px;
    position: relative;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
}
.contact-circle span {
    margin-left: -12px;
}
.team-circle span {
    margin-left: -4px;
}
.work-circle span {
    margin-left: -4px;
}
.about-circle span {
    margin-left: -8px;
}
.all-menu a{
    position: absolute;
}
.all-menu a:hover span {
    visibility: visible;
    opacity: 1;
}
/** End Menu**/

/** Menu **/
.all-menu {
    position: absolute;
    top: 0;
    visibility: hidden;
/*    right: 25px;*/
    left: -20px;
}

.menu-circle{
    height:25px;
    width:25px;
    background-color:transparent;
    border:1px solid #fff;
    border-radius:50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    float:right;
    margin:20px 0px 0px 30px;
    transition: 1s;
    cursor: pointer;
}
@media (min-width:992px) {
    .menu-circle:hover{
        background-color:#fff;
        transition:.5s;
        text-decoration:none;
    }
    .menu-circle:active{
        background-color:#fff;
        text-decoration:none;
    }
}
/** MENU MOBILE **/
.mmmenu{
    position: fixed;
    width: 100%;
    background-color: #121212;
}
.mmmenu {
    position: fixed;
    /*display: none;*/
/*    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);*/
    height: 0px;
    width: 100%;
    top: 0;
/*    top: 85px;*/
    /*left: 50%;*/
    /*bottom: 55px;*/
/*    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);*/
/*    -webkit-transition: opacity 300ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: opacity 300ms cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: opacity 300ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: opacity 300ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: opacity 300ms cubic-bezier(0.77, 0, 0.175, 1);*/
    z-index: 2;
}
.home .center-container {
    position: absolute;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: calc(100% - 85px);
    background: none;
}
.home .mmmenu{
    top: 0;
}
.home .center-container{
    position: fixed;
    height: 100%;
}
.home .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.home .center-block {
    display: table-cell !important;
    vertical-align: bottom;
}
.menu {
    margin: 8% auto;
    transform: translateX(5%);
    padding: 0;
    list-style: none;
}
.menu-item {
    opacity: 0;
    line-height: 1.2;
    font-size: 29px;
    text-transform: uppercase;
    font-family: 'BergenText-Regular', sans-serif;
}
/** END MOBILE **/

.menu-circle:focus{
    outline:none !important;
    text-decoration:none;
}
.menu-circle-active{
    background-color:#fff;
    text-decoration:none;
}
.contact-circle{
    height:25px;
    width:25px;
    background-color:transparent;
    border:2px solid #3BEAD0;
    border-radius:50%;
    margin:20px 0px 0px 0;
}
.contact-circle:hover{
    background-color:#3BEAD0;
    transition: 1s;
    text-decoration:none;
}
.contact-circle:active{
    background-color:#3BEAD0;
    text-decoration:none;
}
.contact-circle:focus{
    outline:none !important;
    text-decoration:none;
}
.contact-circle-active{
    background-color:#3BEAD0;
    text-decoration:none;
}
.contact-text{
    color: #fff;
    display: none;
    transition: 1s;
    font-family: 'BergenText-Regular', sans-serif;
    text-align: center;
    margin-top: 33px;
    font-size: 14pt;
    margin-left: -9px;

}

.about-circle{
    height:25px;
    width:25px;
    background-color:transparent;
    border:2px solid #F00B57;
    border-radius:50%;
    float:right;
    margin:20px 0px 0px 0;
}
.about-circle:hover{
    background-color:#F00B57;
    transition: 1s;
    text-decoration:none;
}
.about-circle:active{
    background-color:#F00B57;
    text-decoration:none;
}
.about-circle:focus{
    outline:none !important;
    text-decoration:none;
}
.about-circle-active{
    background-color:#F00B57;
    text-decoration:none;
}
.about-text {
    color: #fff;
    display: none;
    transition: 1s;
    font-family: 'BergenText-Regular', sans-serif;
    text-align: center;
    margin-top: 33px;
    font-size: 14pt;
}
.work-circle{
    height:25px;
    width:25px;
    background-color:transparent;
    border:2px solid #FBAE17;
    border-radius:50%;
    float:right;
    margin:20px 0px 0px 0;
}
.work-circle:hover{
    background-color:#FBAE17;
    text-decoration:none;
    transition: 1s;
}
.work-circle:active{
    background-color:#FBAE17;
    text-decoration:none;	
}
.work-circle:focus{
    outline:none !important;
    text-decoration:none;
}
.work-circle-active{
    background-color:#FBAE17;
    text-decoration:none;	
}
.work-text{
    color: #fff;
    display: none;
    transition: 1s;
    font-family: 'BergenText-Regular', sans-serif;
    text-align: center;
    margin-top: 33px;
    font-size: 14pt;
}
.team-circle{
    height:25px;
    width:25px;
    background-color:transparent;
    border:2px solid #151BBD;
    border-radius:50%;
    float:right;
    margin:20px 0 0 0
}
.team-circle:hover{
    background-color:#151BBD;
    transition: 1s;
    text-decoration:none;
}
.team-circle:active{
    background-color:#151BBD;
    text-decoration:none;
}
.team-circle:focus{
    outline:none !important;
    text-decoration:none;
}
.team-circle-active{
    background-color:#151BBD;
    text-decoration:none;
}
.contact-circle span {
    margin-left: -12px;
}
.team-circle span {
    margin-left: -4px;
}
.work-circle span {
    margin-left: -4px;
}
.about-circle span {
    margin-left: -8px;
}
.all-menu a{
    position: absolute;
}
.all-menu a:hover span {
    visibility: visible;
    opacity: 1;
}
/** End Menu**/

.main-inner-navigation {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 25px;
}
.main-navigation-logo {
    float: left;
    margin-left: 2vw;
}

a.menu-link {
    margin-left: 0;
}
a.menu-link:link
{
   color: #ffffff;
   text-decoration: none;
}
a.menu-link:visited
{
   color: #ffffff;
   text-decoration: none;
}
a.menu-link:hover
{
   color: #ffffff;
   text-decoration: none;
}
a.menu-link:active
{
   color: #ffffff;
   text-decoration: none;
}


.main-navigation {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    -webkit-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    background-color: rgba(17, 17, 17, .5);
    z-index: 9;
}
.fix-sticky {
    position: fixed!important;
    top: 0;
    left: 0;
}

.fondo1 {
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: contain;
    height: 714px;
}

.fondo2 {
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: contain;
    height: 714px;
    visibility: hidden;
    z-index:1
}
.fondo3 {
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: contain;
    height: 714px;
    width: 100%;
    display:none;
    z-index:1;
    position: absolute;
}
.fondo4 {
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: contain;
    height: 714px;
    display:none;
    z-index:1;
    position: relative;
}

.footers a {
    color: #000;
    font-size: 18px;
}
.footers a:hover, .footers a:focus {
    color: #000;
}

@media (max-width: 991px){
    .about-section-1 .about-row-1 {
        margin-top: 15%;
    }
}

#menu-btnx {
    cursor: pointer;
}
/*#menu-btnx:hover path {
    fill: #000;
    transition: fill .4s ease;
}
.reduce-height #menu-btnx:hover path {
    fill: #fff;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}*/
.opened.mobile .reduce-height #menu-btnx path{
    fill: #fff;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.reduce-height #menu-btnx.active path {
    fill: #fff;
    transition: fill .4s ease;
}
.reduce-height #menu-btnx .cls-x {
    stroke: #fff;
    transition: fill .4s ease;
}
#menu-btnx.active path {
    fill: #000;
    transition: fill .4s ease;
}

div.caja::before {
    content: "";
    border-bottom: 2px solid #000;
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 38%;
}
div.caja span {
    margin: 0 auto;
    width: 250px;
    height: auto;
    display: block;
    position: relative;
    top: -28px;
    color: #000;
    text-align: center;
    font-family: 'BergenText-Bold', sans-serif;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background-size: 10%;
}
@media (max-width:992px) {
    .loader {
        background-size: 40%;
    }
}

.opened #grid-logo .cls-1, .opened #grid-logo .cls-2 {
    fill: #fff;
}
.opened #menu-btnx .cls-x{
    stroke: #fff;
    fill: #fff;
}
.mobile.opened {
    overflow: hidden;
}

.contact.mobile .change .cls-x{
    stroke: #ffffff;
}
.contact.mobile .cls-1, .contact.mobile .cls-2 {
    fill: #ffffff;
}

.mobile h3.text-menu-link {
    position: relative;
    display: inline-block;
    line-height: 1.2;
    margin: 0;
    font-size: 29px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    z-index: 1;
}
.mobile .text-menu-link:before,
.mobile .text-menu-link:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.mobile .text-menu-link:before {
    color: #00ffff;
    z-index: -1;
}
.mobile .text-menu-link:after {
    color: #ff00ff;
    z-index: -2;
}

.mobile .menu-link:hover .text-menu-link:before,
.mobile .menu-link.active .text-menu-link:before,
.mobile .text-menu-link:hover:before {
    -webkit-animation: glitchy 0.3s ease 0.3s infinite;
    animation: glitchy 0.3s ease 0.3s infinite;
}

.mobile .menu-link:hover .text-menu-link:after,
.mobile .menu-link.active .text-menu-link:after,
.mobile .text-menu-link:hover:after {
    animation: glitchy 0.3s ease infinite reverse;
}
@media(max-width: 768px){
    .team-row-1 {
        left: 5px;
        position: relative;
    }
    .team__section{
        width: 100%;
    }
}
@-webkit-keyframes glitchy {
    0% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    25% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    50% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    75% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
}
@keyframes glitchy {
    0% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    25% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    50% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    75% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
}